autopep8==2.3.2
datasets==4.0.0
gensim==4.3.3
huggingface-hub==0.34.3
matplotlib==3.10.3
nltk==3.9.1
numpy==1.26.4
pandas==2.3.1
python-dotenv==1.2.2
scikit-learn==1.7.1
scipy==1.13.1
seaborn==0.13.2
spacy==3.8.7
torch-geometric==2.6.1
torchaudio==2.7.1+cu128
tqdm==4.67.1
transformers==4.54.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl